@import "tailwindcss";

@theme {
  --color-brand-green: #00c39a;
  --color-brand-dark: #324a34;
  --color-brand-yellow: #ffd155;
  --color-brand-peach: #fdc799;
  --color-brand-blue: #4a9fff;
  --color-body-bg: #222931;
  --color-brand-white: #ffffff;

  --text-headline-01: 52px;
  --text-headline-01--line-height: 64px;

  --text-headline-02: 40px;
  --text-headline-02--line-height: 52px;

  --text-headline-03: 24px;
  --text-headline-03--line-height: 28px;

  --text-button: 20px;
  --text-button--line-height: 23px;

  --text-paragraph-01: 18px;
  --text-paragraph-01--line-height: 28px;

  --text-paragraph-02: 16px;
  --text-paragraph-02--line-height: 28px;

  --text-body: 16px;
  --text-body--line-height: 24px;
}

body {
  @apply bg-body-bg text-brand-white text-body;
}

.wrapper {
  @apply mx-auto w-full max-w-[1320px];
}

@media (max-width: 1319px) {
  .wrapper {
    @apply px-4;
  }
}
