@import "tailwindcss";

@theme {
  --color-brand-green: #00c39a;
  --color-brand-dark: #324a34;
  --color-brand-yellow: #ffd155;
  --color-brand-peach: #fdc799;
  --color-brand-blue: #4a9fff;
  --color-body-bg: #222931;
  --color-brand-white: #ffffff;

  --text-headline-01: 52px/64px;
  --text-headline-02: 40px/52px;
  --text-headline-03: 24px/28px;
  --text-button: 20px/23px;
  --text-paragraph-01: 18px/28px;
  --text-paragraph-02: 16px/28px;
  --text-body: 16px/24px;
}

body {
  @apply bg-body-bg text-brand-white text-body;
}

.wrapper {
  @apply mx-auto w-full max-w-[1320px];
}

@media (max-width: 1319px) {
  .wrapper {
    @apply px-4;
  }
}
